#container-picture {
    /* margin: -8px;
    padding: -8px; */
    height: 100%;
    width: 100%;
}

img {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    opacity: .4;
}

#about-me{
    position: absolute;
    top: 3%;
    left: 3%;
}

#projects{
    position: absolute;
    top: 45%;
    left: 6%;
}

#interests{
    position: absolute;
    bottom: 68%;
    right: 3%;
}

#networks{
    position: absolute;
    bottom: 19%;
    right: 20%;
}

